@media only screen (max-width: 668px){
    .page-links{
        display : none;}
    .bar-icon{
        display : visible;}
    .cart-icon{
        display : visible;}
    .nav{
      flex-direction : column;}
}


body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color:#3A3A3A;
    width: 100%;
    margin: 0;
}

/*----------------
 header design
 -----------------*/

 header,main{
    width: 1150px;
 }

.bar-icon{

    display : none;
}
 nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
 }
 .nav-title{
    font-weight: 700;
    font-size: 16px;
 }
 .pages-links ul{
    display: flex;  
    align-items: center;
 }
 .pages-links ul li a{
    text-decoration: none;
    color:#3A3A3A;
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;
 }
 .pages-links ul li{
    list-style: none;
 }
 .icon{
     font-size: 30px;
 }

 /*----------------
  section one 
  -----------------*/
.section-one{
    width: 100%;
    display: flex;
}

.section-title-details, .photo-property{
    /* border: solid 1px black; */
    width: 50%;
    height: 500px;
}
.section-title-details h1{
    font-weight: 700;
    font-size: 47px;
    margin: 120px 0px 10px 0px;
 }
 .section-title-details p{
    font-size: 16px; 
 }
.section-title-details a{
    margin: 0;
    padding: 7px 30px;
    border-radius: 50px;background-color: #E02C6D;
    text-decoration: none;
    color: white;
    align-items: center;
 }

 .photo-property{
     background-image: url(images/Circle\ design.svg);
     background-repeat:no-repeat ;
     background-position: center; 
     background-size: 475px 475px;

     display: flex;
     justify-content: center;
     align-items: center;
 }
 .the-photo{
    width: 440px;
    height: 414px;
    transition: transform 3s ease-in-out;
 }
 .the-photo:hover{
     transform: rotatey(-180deg);
     
 }
 
 


 /*----------------
  section two
  -----------------*/

.section-two{
    margin-top: 100px;
    width: 100%;
    /* border: solid black 1px; */
}

.grid-logo{
    /* radial-gradient(#3A3A3A, white) */
    border-top: 1px solid;
    border-image: radial-gradient(#3A3A3A, white);
    border-image-slice: 1 ;
    border-bottom: 1px solid;
    
    display: grid;
    grid-template-columns:repeat(7,1fr);
    
    padding: 30px 110px;

}


/*----------------------------------
 section 3 
 -----------------------------------*/

 .section-three{
     /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
     margin:0 5%;
 }
 .section-three-title{
     margin-top: 130px;
     margin-bottom: 50px;
     font-size: 28px;
     font-weight: 700;
    text-align: center;
 }
    /*---------------------------------------
     grid card start here 
     ----------------------------------------*/
 .grid-card{
    
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-gap: 30px;
 }
 .card{
     border-radius: 5px;
     padding: 10px;
     /* border: solid black; */
     box-shadow: 0 0 20px rgba(19, 19, 19, 0.143);
 }
 article{
     display: flex;
     flex-direction: column;
    border-radius: 5px;
    padding: 5px;
 }

 article h1{

    margin: 20px 0 0 0 ;
    font-size: 28px;
 }
 article p{
     margin: 10px 0;
     font-size: 24px;

}
.rating{
    display: flex;
    align-items: center;
    margin: 0 0 5px 0;

}
.rating i{
    font-size: 12px;
    color: #FB8200;
}
.rating h6{
    margin: 0 0 0 10px;
    font-weight: 600;
}
article h6{
    font-weight: 800;
    font-size: 14px;
    margin: 0 0 10px 0;
    color: #787885
}
   /*---------------------------------------
     grid card end here 
     see more start here \|/
     ----------------------------------------*/


.see-more{
    padding: 50px 0px;
    text-decoration: none;
    color: #E02C6D;
    font-size: 16px;
    font-weight: 800;
    text-align: right;
}


/*----------------------------------------------
 Footer starts here 
 -----------------------------------------------*/

 footer{
     width: 100%;
     height: 250px;
     background-color: #0A0826;
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 footer h1{
    margin: 0 0 10px 0;
    font-size: 24px;
    font-weight: 800;
    
 }
 footer p{
    margin: 0;
     font-size: 14px;
    font-weight: 800px;
 }

 .social-icon i{
     font-size: 25px;
     padding: 20px 15px;
 }
 
